@import "./media.scss";

@font-face {
    font-family: "SEGA LOGO";
    src: url("../font/sega-logo-font-cufonfonts-webfont\ \(1\)/SEGA.woff") format("woff");
   }

body{
   margin: 0;
   overflow-x: hidden;
   background-image: linear-gradient(to right, #007D7D,#0C195A);
   background-position: cover;
   width:100vw;
   
   
}
.container{
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;

    &__title{
        justify-content: center;
        h1{
            font-family:"SEGA LOGO";
            color:#7df6cf;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 30px;
        }
    }
    &__card{
        display:flex;
        flex-direction:column;
        
        width: 100%;
        &__input{
            width: 100%;
            justify-content: center;
            text-align: center;
            //padding:10%;
        }
        
        &__description{

        margin: 5% 0%;
        justify-content: center;
        text-align: center;
        display:flex;
        flex-wrap: wrap;
        width: 100%;
       p{
        line-height: 5px;
       }
        
        }
        
    }
}
.Inputfield{
    width: 30%;
    background-color: #cdefcd;
    border: 1px solid #7df6cf;
    padding: 1%;
  
    &::placeholder{
        font-size: 1
        8px;
    }
}
.card{

    justify-content: center;
    align-items: center;
    border: 1px solid #7df6cf;
    width: 20%;
    padding: 1% 0.5%;
    margin:1% 1%;
    background-color: #7df6cf;
    border-radius :3px;
    cursor: pointer;
   

    &:hover{
        transform:scale(1.05);
        border: 1px solid rgb(212, 212, 92);
        background-color: rgb(212, 212, 92);
        transition: all 0.5s linear;
        
    }

    img{
        width: 100%;
        align-items: center;
    }
    h2{
        font-size:20px;
        align-items: center;
    }
    p{
        font-size:15px;
        align-items: center;
       
    }
    button{
        border: 1px solid #0C195A; 
        background-color: #0C195A;
        color: #7df6cf;
        cursor: pointer;
        margin-top: 3%;
    }

   
}
.card-click{

    width: 80%;
    display: flex;
    background-color: rgb(204, 204, 24);
    justify-content:center;
    align-items: center;
    margin:3% 10%;
    border-radius :3px;
    height: 30%;
    justify-content: space-evenly;
    position: relative;
    transition: all 0.5s linear;
    
    &__img{

        width: 35%;
        margin-bottom: 30%;
        border-radius:100%;
        align-items: center;
        justify-content: center;
        

        img{
            border-radius:100%;
            width: 100%;
        }
    }
    
    h2{
        font-size:25px;
        align-items: center;
        padding-bottom: 3%;
        border-bottom: 2px solid #0C195A;
    }
    p{
        font-size:20px;
        align-items: center;
        line-height: 20px;
       
    }
    span{
        display: block;
        line-height: 30px;
    }
    &__identity{
        width: 60%;
        margin-left: 5%;
        height: 50%;
        
        &__contenu{
            font-weight: bold;
            font-style: italic;
            
        }
    }
    button{
        border: 1px solid #5a0f0c; 
        background-color: #5a0f0c;
        color: #7df6cf;
        cursor: pointer;
      width: 100px;
      padding:1% 7%;
      position: absolute;
        left:0;
        bottom:3%;
    }
}
